.divAroundCreate {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 25px;
    
   


}

.createLesson {
    display: flex;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}
.divAroundAllCreate {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.saveButton {
    display: flex;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: grey;
    justify-content: center;


}

#createaboutTeacher {
    width: 600px;
    height:120px;
}